/* This section is mostly taken from the old SCSS/CSS file to set up the game board */

/* Skipping the box-sizing for now */
.mg-wrap,
.mg-wrap * {
  box-sizing: border-box;
}

.mg-wrap {
  position: relative;
}

/* Skipping the z-index for mg-game and mg-modal-wrap for now */

.mg-game {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 5px;
}

.mg-game,
.mg-game.mg-layout-6x4 {
  grid-template-columns: repeat(6, 1fr);
}

.mg-game.mg-layout-4x6 {
  grid-template-columns: repeat(4, 1fr);
}

/* Skipping the keyframes for matchAnima for now */

/* Adding an absolute width when grid isn't used */
/* .mg-new-card,
.mg-new-front,
.mg-new-back {
  width: 100px;
  height: 125px;
} */
.mg-new-card {
  width: 100px;
}

/* Adding background colors when grid isn't used */
.mg-new-front {
  background: red;
}
.mg-new-back {
  background: blue;
}

/* z-index experiment */
.mg-new-back {
  z-index: 2;
}

/* Only copying the background and aspect ratio styles */
.mg-new-inside {
  /* This appears to be a possible source of the glitch */
  padding-top: 125%;
  height: 0;
  /* display: block;
  background: white; */
}

/* Skipping picked/matched rotateY transform */

/* Skipping matched animation */

/* Only copying the border, padding, height/width, and flexbox styles */
.mg-new-front,
.mg-new-back {
  border: 1px solid black;
  /* padding: 5px; */
  width: 100%;
  height: 100%;
  /* display: flex;
  align-items: center; */
}

/* End reuse from the old files */

/* The CSS below is taken straight from the tutorial, it still isn't quite working */
/* Adding all the vendor prefixes, just in case */

/* entire container, keeps perspective */
/* required to get 3d effect */
.mg-new-card {
  perspective: 1000px;
  -moz-perspective: 1000px;
  -webkit-perspective: 1000px;
  -ms-perspective: 1000px;
  -o-perspective: 1000px;
}
/* flip the pane when hovered */
/* .mg-new-card:hover .mg-new-inside,
.mg-new-card.hover .mg-new-inside { */
.mg-new-card.mg-picked .mg-new-inside {
  transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}

/* .mg-new-card,
.mg-new-front,
.mg-new-back {
  width: 320px;
  height: 480px;
} */

/* flip speed goes here */
.mg-new-inside {
  transition: 0.6s;
  -moz-transition: 0.6s;
  -webkit-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;

  transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.mg-new-front,
.mg-new-back {
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.mg-new-front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
}

/* back, initially hidden pane */
.mg-new-back {
  transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}
