/* The CSS below is taken straight from the tutorial, it still isn't quite working */

.mg-new-front {
  background: magenta;
}

.mg-new-back {
  background: yellow;
}

/* entire container, keeps perspective */
.mg-new-card {
  perspective: 1000px;
}
/* flip the pane when hovered */
/* .mg-new-card:hover .mg-new-inside,
.mg-new-card.hover .mg-new-inside { */
.mg-new-card.mg-picked .mg-new-inside {
  transform: rotateY(180deg);
}

.mg-new-card,
.mg-new-front,
.mg-new-back {
  width: 320px;
  height: 480px;
}

/* flip speed goes here */
.mg-new-inside {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.mg-new-front,
.mg-new-back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.mg-new-front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.mg-new-back {
  transform: rotateY(180deg);
}
